*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    font-size: 60%;
  }

  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    font-size: 41%;
  }

  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  // padding: 3rem;
}

a {
  text-decoration: none;
  color: $color-white;
  font-family: "Poppins";
}

ul {
  list-style: none;
}

::selection {
  background-color: $color-light-yellow;
  color: $color-black;
}
