$color-light-yellow: #f5ea38;
$color-medium-light-yellow: #f3e956;
$color-medium-yellow: #f1e87d;

$color-dark-yellow: #d2ca3f;
$color-goldenrod: #d9c65e;

$color-bronze: #ad9b35;
$color-dark-bronze: #897a15;
$color-brown: #433602;

$color-black: #100702;
$color-white: #f0efee;
$color-grey: #303841;
